.card-eden {
	cursor : pointer;
	
	&-logo {
		width : 25px !important;
		height : 25px !important;
		margin-left : 1rem;
		margin-top : 1rem;
	}

	&-selected {
		border : 1px solid $eden-primary !important;
	}
}
