.timeline {
	background : $eden-secondary;
	height : 3px;
}

.stage {
	border : 1px solid $eden-secondary;
	border-radius : 50%;
	width : 40px;
	height : 40px;
	font-size : 12px;
	background: white;
	display : flex;
	justify-content : center;
	align-items : center;

	&-highlight {
		background : $eden-primary;
		color : white;
	}
}
