.timeline {
	height : 2px !important;
}

.stage {
	border : 1px solid #ececec;
	border-radius : 50%;
	width : 40px;
	height : 40px;
	font-size : 12px;
	background: white;
	display : flex;
	justify-content : center;
	align-items : center;
	margin-top : -22px;

	&-highlight {
		border : none;
		background : $eden-primary;
		color : white;
	}
}
